.title{
    background-color: rgb(251, 127, 127);
    overflow: hidden;
}
.title>*{
    margin: 10px;
    color: white;
}
.title>div:nth-child(1){
    position: relative;
}
.title>div:nth-child(1)>div{
    display: flex;
    align-items: center;
}
.title>div>div>img{
    width: 10vw;
    height: 10vw;
    min-width: 50px;
    min-height: 50px;
    border-radius:100%;
    margin-right: 10px;
}
.title>div>span:last-child{
    position: absolute;
    right: 0;
    top: 0;
}
.title>div:nth-child(3){
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
